.first{
   
background-image: linear-gradient(-180deg,#0e1f35,#21455c);
height: 100vh;
}
.top{
    
    /* margin-top: 1vh; */
    margin-bottom: 4vh;
    padding: 15px;
    text-align: left;
    color: white;

}
.form{
    background-color:#f4f4f4;
    width:70%;
    border-radius:0px 20px 20px 0px;
    padding: 5% 1%;
     
}
.col_form.label{
    padding-bottom: 50px;
}
.submit{
 
    border: 200px;
    padding: 1.5% 10%;
    font-size: 16px;
    margin-right: 37%;
    background-color: #ff5056;
    border-radius: 32px;
}




